/* bank det start*/
#projectMaster{
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
  }
  *, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  * {margin:0;padding:0;border: 0 none;position: relative;}
  [class="nv"]:before {font-family: 'fontawesome', sans-serif;}
  
  
  
  #projectM section {
    width: 100%;
    background: #00416a;
    /* width: 80vw;
    max-width: 40rem;
    min-width: 390px;
    height: 25rem; */
    margin: 2rem auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
  }
  #projectM article {
    
    border-bottom-left-radius: 6px;
  
    border-bottom-right-radius: 6px;
   position: absolute;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   width: 100%;
   
   
     /*
    left: 0;
    top: 2rem;
    right: 0;
    bottom: 0;
    padding:20px;
    margin-top: 20px; */
  
   
    transform: scale(0);
    transform-origin: center right;
   
  }
  #projectM article:before {
    color: rgba(0,0,0,.2);
    font-size: 4rem;
    font-weight: 100;
    position: absolute;
  
  }
  
  #projectM nav {
    background: #fff;
    width: 100%;
    height: 2rem;
  
    margin-top: 40px;
    margin-bottom: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  }
  #projectM nav:after {
    content:'';
    width: 15%;
    height: 2rem;
    color: #fff;
    background: #00416a;
    position: absolute;
   
    transition: .5s;
  }
  
  #projectM input {
    display: none;
  }
  .projectM label {
    width: 15%;
    height: 2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding-top: 4px;
    padding-right: 0;
    float: left;
    color: #333;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    z-index: 2;
  }
  /* responsive start */
  @media only screen and (max-width: 781px)  and (min-width: 300px)  {
    .projectM label {
      width: 100%;
      padding: 0;
    
  }
  .projectM label {
    
    
    box-shadow: none;
   
  }
  #navitem1:checked ~ nav:after {
    left: 0% !important;
    top: 0;
  }
  #navitem2:checked ~ nav:after {
    left:0% !important;
    top:10.8%;
    border-top: 0 none;
  }
  #navitem3:checked ~ nav:after {
    left: 0% !important;
    top: 23.8%;
  }
  #navitem4:checked ~ nav:after {
    left: 0% !important;
    top:36%;
  }
  #navitem5:checked ~ nav:after {
    left: 0% !important;
    top:49%;
  }
  #navitem6:checked ~ nav:after {
    left: 0% !important;
    top:62%;
  }
  #projectM nav {
    background: #fff;
    width: 100%;
    height: 20rem;
    color: #333;
    margin-top: 40px;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
  }
  #projectM nav:after {
    content:'';
    width: 100%;
    height: 2rem;
    color: #fff;
    background: #00416a;
  
  }
  
  
  #navitem1:checked ~ nav:after {
    top: 0;
    left: 0 !important;
    width: 100%;
  }
  
  
  }
  /* responsive end */
  
  #projectM label:hover {color: #00416a;}
  #projectM label:before {
    display: block;
    font-size: 3rem;
    line-height: 3rem;
    z-index: 2;
  }
  #navitem1:checked ~ nav [for='navitem1'],
  #navitem2:checked ~ nav [for='navitem2'],
  #navitem3:checked ~ nav [for='navitem3'],
  #navitem4:checked ~ nav [for='navitem4'],
  #navitem5:checked ~ nav [for='navitem5'],
  #navitem6:checked ~ nav [for='navitem6'] {
    color: #fff;
    font-weight: 600;
  }
  
  
  
  
  #navitem1:checked ~ nav:after {
    left: 0;
  }
 #navitem2:checked ~ nav:after {
    left:15%;
    border-top: 0 none;
  }
  #navitem3:checked ~ nav:after {
    left: 30%;
  }
  #navitem4:checked ~ nav:after {
    left: 45%;
  }
  #navitem5:checked ~ nav:after {
    left: 60%;
  }
  #navitem6:checked ~ nav:after {
    left: 75% ;
  }
  
  #navitem1:checked ~ .c1,
  #navitem2:checked ~ .c2,
  #navitem3:checked ~ .c3,
  #navitem4:checked ~ .c4,
  #navitem5:checked ~ .c5,
  #navitem6:checked ~ .c6{
    display: block;
    transform: scale(1);
    /* transition-delay: .5s;  */
  }
  a {color: rgba(0,0,0,.4)}
  a:hover {color: rgba(0,0,0,.2)}
  /* page nav end */

  .icon-master{
    font-size: 22px;
    color:#518ff5;
  }
  .icon-master:hover{
    font-size: 22px;
    color:#00416a;
  }
  #project-body input{
    display: block;
  }
    .check-box{
      margin: 10px 0;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      padding: 10px;
      border-radius: 4px;
    }
    #project-body .form-control{
      padding: 3px;
      font-size: 14px;
    }
    #project-body .form-group{
    margin: 5px 0;

    }
    #project-body label{
      font-size: 14px;
    box-shadow: none;
    margin-bottom: 4px;
    padding: 0 !important;
    text-align: left;
  }
  .header-table{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 4px;
  }
  .gen-ID{
    color: #00A36C;
    font-weight: 500;
  }